<section id="answer-view" class="mainbar" data-ng-controller="answers as vm">
    <section class="matter">
        <div class="container">
            <div class="row">

                <h2>Build the answer framework for your questions</h2>

                <form ng-submit="vm.answerAdd()">
                    <div class="row">
                        <p>Answer Text</p>
                        <input type="text" ng-model="vm.answerText" size="100" placeholder="Add New Answer.">
                    </div>

                    <br>
                    <div class="row"> 
                        <input type="submit" value="Add Your Answer">
                    </div>
                </form>

                <br>

                <div ng-repeat="x in vm.answerList">
                    <input type="checkbox" ng-model="x.done"> <span ng-bind="x.answerText"></span>
                </div>

                <p><button ng-click="vm.remove()">Remove marked answer</button></p>

            </div>
        </div>
    </section>
</section>