<section class="mainbar" data-ng-controller="takeSurvey as survey">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div data-cc-widget-header title="{{survey.title}}"></div>
                    <div class="widget-content user">
                        <h3>Ta for filling out this survey</h3>

                        <div ng-repeat="question in survey.repo.questions">
                            <div>{{question.QuestionText}}</div>
                            <div ng-if="question.QuestionType=='radio'" radio-control="survey.repo" question-id="question.QuestionID" on-select="survey.questionSelected"></div>
                            <div ng-if="question.QuestionType=='ddl'" ddl-control="survey.repo" question-id="question.QuestionID" on-select="survey.questionSelected"></div>
                            <div ng-if="question.QuestionType=='freetext'" freetext-control="survey.repo" question-id="question.QuestionID" on-select="survey.questionSelected"></div>                            
                        </div>    
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
