<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="NICS_SurveyEntities" connectionString="metadata=res://*/NICSSurvery.csdl|res://*/NICSSurvery.ssdl|res://*/NICSSurvery.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ESS044005;initial catalog=NICS_Survey;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NICS_SurveyEntities1" connectionString="metadata=res://*/NICSSurvey.csdl|res://*/NICSSurvey.ssdl|res://*/NICSSurvey.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ESS044005;initial catalog=NICS_Survey;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>